services:

  db:
    image: postgis/postgis:17-3.5
    restart: always
    environment:
      POSTGRES_DB: route_optimizer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  django:
    build: .
    volumes:
      - .:/spotter_backend_project
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery_worker:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             celery -A spotter worker -P gevent --concurrency=1 -Q maintenance -l info"
    volumes:
      - .:/spotter_backend_project
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery_beat:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             celery -A spotter beat -l info"
    volumes:
      - .:/spotter_backend_project
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  redis_data: